<h2>Comment se déshabiller</h2>
<!-- <h2>Ajouter un vêtement</h2> -->
<form (ngSubmit)="onSubmit(createClotheForm)" #createClotheForm="ngForm">
  <!-- fonction ngSubmit  -->
  <div class="row">
    <div class="form-group col-10 offset-1 col-md-4 offset-md-1 p1">
      <label for="clotheName">Nom&nbsp;: </label><span> *</span>
      <input type="text" class="form-control" id="clotheName" placeholder="Nom du vêtement" name="clotheName"
        [(ngModel)]="newClothe" #clotheName="ngModel" required (keyup)="fctClotheNameExists()">
      <small *ngIf="clotheName.invalid && clotheName.touched" id="clotheNameEmpty" class="text-muted alert-danger">Vous
        n'avez pas rempli ce champ</small>
      <small *ngIf="clotheNameExists == true" id="clotheNameExists" class="text-muted">Ce nom de vêtement existe
        déjà</small>
    </div>
    <div class="form-group col-10 offset-1 col-md-4 offset-md-2 p1" *ngIf="categoryExists == true">
      <label for="clotheCategory">Catégorie&nbsp;: </label><span> *</span>
      <select class="form-control" id="clotheCategory" name="clotheCategory" ngModel #clotheCategory="ngModel" required>
        <option value="" selected> ------ Catégorie ------ </option>
        <option *ngFor="let category of this.categories" value="{{category.ID_CAT}}"> {{category.LIBEL_CAT}} </option>
      </select>
      <span class="blueLink" (click)="onClickCategory()">--> Catégorie inexistante dans la liste</span>&nbsp;&nbsp;
      <!-- <span class="blueLink" (click)="onClickCategory()">Catégorie qui n'exise pas car Roro ne l'a pas dit à Leyley dans la liste</span>&nbsp;&nbsp; -->
      <small *ngIf="clotheCategory.invalid && clotheCategory.touched" class="text-muted alert-danger">Vous n'avez pas
        rempli ce
        champ</small>
    </div>
    <div class="form-group col-10 offset-1 col-md-4 offset-md-2 p1" *ngIf="categoryExists == false">
      <div class="row">
        <div class="col-12">
          <label for="categoryName">Catégorie&nbsp;: </label><span> *</span>
        </div>
      </div>
      <div class="row">
        <div class="col-10 col-xl-11">
          <input type="text" class="form-control" id="categoryName" placeholder="Nom de la catégorie"
            name="categoryName" [(ngModel)]="newCategory" #categoryName="ngModel" required
            (keyup)="fctCategoryNameExists()">

        </div>
        <div class="col-1">
          <i class="fas fa-plus-circle fa-2x" (click)="onSubmitCategorie()"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <span class="blueLink" (click)="onClickCategory()">--> Revenir à la liste des catégories</span>&nbsp;&nbsp;
          <small *ngIf="categoryName.invalid && categoryName.touched" id="categoryNameEmpty"
            class="text-muted alert-danger">Vous
            n'avez pas rempli ce champ</small>
          <small *ngIf="categoryNameExists == true" id="categoryNameExists" class="text-muted">Ce nom de catégorie
            existe
            déjà</small>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-10 offset-1 col-md-4 offset-md-1 p1" *ngIf="brandExists == true">
      <label for="clotheBrand">Marque&nbsp;: </label><span> *</span>
      <select class="form-control" id="clotheBrand" name="clotheBrand" ngModel #clotheBrand="ngModel" required>
        <option value="" selected> ------ Marque ------ </option>
        <option *ngFor="let brand of this.brands" value="{{brand.ID_MARQUE}}"> {{brand.NOM_MARQUE}} </option>
      </select>
      <span class="blueLink" (click)="onClickBrand()">--> Marque inexistante dans la liste</span>&nbsp;&nbsp;
      <small *ngIf="clotheBrand.invalid && clotheBrand.touched" class="text-muted alert-danger">Vous n'avez pas rempli
        ce
        champ</small>
    </div>
    <div class="form-group col-10 offset-1 col-md-4 offset-md-1 p1" *ngIf="brandExists == false">
      <div class="row">
        <div class="col-12">
          <label for="brandName">Marque&nbsp;: </label><span> *</span>
        </div>
      </div>
      <div class="row">
        <div class="col-10 col-xl-11">
          <input type="text" class="form-control" id="brandName" placeholder="Nom de la marque" name="brandName" ngModel
            #brandName="ngModel" required [(ngModel)]="newBrand" (keyup)="fctBrandNameExists()">
        </div>
        <div class="col-1">
          <i class="fas fa-plus-circle fa-2x" (click)="onSubmitBrand()"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <span class="blueLink" (click)="onClickBrand()">--> Revenir à la liste des marques</span>&nbsp;&nbsp;
          <small *ngIf="brandName.invalid && brandName.touched" id="brandNameEmpty" class="text-muted alert-danger">Vous
            n'avez pas rempli ce champ</small>
          <small *ngIf="brandNameExists == true" id="brandNameExists" class="text-muted">Ce nom de marque existe
            déjà</small>
        </div>
      </div>
    </div>
    <div class="form-group col-10 offset-1 col-md-4 offset-md-2 p1" *ngIf="colorExists == true">
      <label for="">Couleurs&nbsp;: </label><span> *</span>
      <div class="row">
        <div *ngFor="let color of this.colors" class="col-4 col-lg-3">
          <div class="row">
            <label class="labelSize col-6 p-0 text-right" for="{{color.LIBEL_COUL}}">{{color.LIBEL_COUL}}&nbsp;:
            </label>
            <input type="checkbox" class="form-control col-6 p-0" id="{{color.LIBEL_COUL}}" name="{{color.LIBEL_COUL}}"
              [(ngModel)]="color.checked" value="{{color.ID_COUL}}">
          </div>
        </div>
      </div>
      <span class="blueLink" (click)="onClickColor()">--> Couleur inexistante dans la liste</span>&nbsp;&nbsp;
    </div>
    <div class="form-group col-10 offset-1 col-md-4 offset-md-2 p1" *ngIf="colorExists == false">
      <div class="row">
        <div class="col-12">
          <label for="colorName">Couleur&nbsp;: </label><span> *</span>
        </div>
      </div>
      <div class="row">
        <div class="col-10 col-xl-11">
          <input type="text" class="form-control" id="colorName" placeholder="Nom de la couleur" name="colorName"
            ngModel #colorName="ngModel" required [(ngModel)]="newColor" (keyup)="fctColorNameExists()">
        </div>
        <div class="col-1">
          <i class="fas fa-plus-circle fa-2x" (click)="onSubmitColor()"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <span class="blueLink" (click)="onClickColor()">--> Revenir à la liste des couleurs</span>&nbsp;&nbsp;
          <small *ngIf="colorName.invalid && colorName.touched" id="colorNameEmpty" class="text-muted alert-danger">Vous
            n'avez pas rempli ce champ</small>
          <small *ngIf="colorNameExists == true" id="colorNameExists" class="text-muted">Ce nom de couleur
            existe
            déjà</small>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-10 offset-1 col-md-4 offset-md-1 p1" *ngIf="featureExists == true">
      <label for="">Caractéristiques&nbsp;: </label><span> *</span>
      <div class="row">
        <div *ngFor="let feature of this.features" class="col-4 col-lg-3">
          <div class="row">
            <label class="labelSize col-6 p-0 text-right" for="{{feature.LIBEL_CARACT}}">{{feature.LIBEL_CARACT}}&nbsp;:
            </label>
            <input type="checkbox" class="form-control col-6 p-0" id="{{feature.LIBEL_CARACT}}"
              name="{{feature.LIBEL_CARACT}}" [(ngModel)]="feature.checked" value="{{feature.ID_CARACT}}">
          </div>
        </div>
      </div>
      <span class="blueLink" (click)="onClickFeature()">--> Caractéristique inexistante dans la
        liste</span>&nbsp;&nbsp;
    </div>
    <div class="form-group col-10 offset-1 col-md-4 offset-md-1 p1" *ngIf="featureExists == false">
      <div class="row">
        <div class="col-12">
          <label for="featureName">Caractéristique&nbsp;: </label><span> *</span>
        </div>
      </div>
      <div class="row">
        <div class="col-10 col-xl-11">
          <input type="text" class="form-control" id="featureName" placeholder="Nom de la caractéristique"
            name="featureName" ngModel #featureName="ngModel" required [(ngModel)]="newFeature"
            (keyup)="fctFeatureNameExists()">
        </div>
        <div class="col-1">
          <i class="fas fa-plus-circle fa-2x" (click)="onSubmitFeature()"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <span class="blueLink" (click)="onClickFeature()">--> Revenir à la liste des
            caractéristiques</span>&nbsp;&nbsp;
          <small *ngIf="featureName.invalid && featureName.touched" id="featureNameEmpty"
            class="text-muted alert-danger">Vous n'avez pas rempli ce champ</small>
          <small *ngIf="featureNameExists == true" id="featureNameExists" class="text-muted">Ce nom de caractéristique
            existe
            déjà</small>
        </div>
      </div>
    </div>
    <div class="form-group col-10 offset-1 col-md-4 offset-md-2 p1" *ngIf="occasionExists == true">
      <label for="">Occasions&nbsp;: </label><span> *</span>
      <div class="row">
        <div *ngFor="let occasion of this.occasions" class="col-6 col-xl-4">
          <div class="row">
            <label class="labelSize col-6 p-0 text-right" for="{{occasion.LIBEL_OCCAS}}">{{occasion.LIBEL_OCCAS}}&nbsp;:
            </label>
            <input type="checkbox" class="form-control col-6 p-0" id="{{occasion.LIBEL_OCCAS}}"
              name="{{occasion.LIBEL_OCCAS}}" [(ngModel)]="occasion.checked" value="{{occasion.ID_OCCAS}}">
          </div>
        </div>
      </div>
      <span class="blueLink" (click)="onClickOccasion()">--> Occasion inexistante dans la liste</span>&nbsp;&nbsp;
    </div>
    <div class="form-group col-10 offset-1 col-md-4 offset-md-2 p1" *ngIf="occasionExists == false">
      <div class="row">
        <div class="col-12">
          <label for="occasionName">Occasion&nbsp;: </label><span> *</span>
        </div>
      </div>
      <div class="row">
        <div class="col-10 col-xl-11">
          <input type="text" class="form-control" id="occasionName" placeholder="Nom de l'occasion" name="occasionName"
            ngModel #occasionName="ngModel" required [(ngModel)]="newOccasion" (keyup)="fctOccasionNameExists()">
        </div>
        <div class="col-1">
          <i class="fas fa-plus-circle fa-2x" (click)="onSubmitOccasion()"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <span class="blueLink" (click)="onClickOccasion()">--> Revenir à la liste des occasions</span>&nbsp;&nbsp;
          <small *ngIf="occasionName.invalid && occasionName.touched" id="occasionNameEmpty"
            class="text-muted alert-danger">Vous n'avez pas rempli ce champ</small>
          <small *ngIf="occasionNameExists == true" id="occasionNameExists" class="text-muted">Ce nom d'occasion
            existe
            déjà</small>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-10 offset-1 col-md-4 offset-md-1 p1">
      <label for="clotheDescr">Description&nbsp;: </label><span> *</span>
      <textarea rows="1" class="form-control" id="clotheDescr" placeholder="Décris ton vêtement :)" name="clotheDescr"
        ngModel #clotheDescr="ngModel" required></textarea>
      <small *ngIf="clotheDescr.invalid && clotheDescr.touched" id="clotheDescrEmpty"
        class="text-muted alert-danger">Vous n'avez pas rempli ce champ</small>
    </div>
    <div class="form-group col-10 offset-1 col-md-4 offset-md-2 p1">
      <label for="clotheNote">Note&nbsp;: </label><span> *</span>
      <select class="form-control" id="clotheNote" name="clotheNote" ngModel #clotheNote="ngModel" required>
        <option value="" selected> ------ Note ------ </option>
        <option *ngFor="let note of this.notes" value="{{note.ID_NOTE}}"> {{note.NUM_NOTE}} </option>
      </select>
      <small *ngIf="clotheNote.invalid && clotheNote.touched" class="text-muted alert-danger">Vous n'avez pas rempli
        ce
        champ</small>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-10 offset-1 col-md-6 offset-md-3 p1">
      <label for="clotheImg">Image&nbsp;: </label>
      <input type="file" accept=".png, .gif, .jpg, .raw" class="form-control" id="clotheImg"
        placeholder="Importer votre photo" name="clotheImg" [(ngModel)]="clotheImg" ng2FileSelect [uploader]="uploader">
      <button class="btn btn-info" type="button" (click)="uploader.uploadAll()"
        [disabled]="!uploader.getNotUploadedItems().length">Télécharger l'image</button>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-10 offset-1 col-md-6 offset-md-3 p1">
      <img [src]="urlImage" alt="urlImage" class="image" />
    </div>
  </div>



  <p>* Tous ces champs sont obligatoires. Vous pourrez les modifier ultérieurement.</p>
  <input type="text" id="idUser" name="idUser" value="XXXX" ngModel #idUser="ngModel" hidden>
  <button type="submit" class="btn btn-outline-success col-6 offset-3 col-md-4 offset-md-4"
    [disabled]="createClotheForm.invalid || !colors  || !features  || !occasions || brandNameExists == true || categoryNameExists == true || clotheNameExists == true || colorNameExists == true || featureNameExists == true || occasionNameExists == true">Enregistrer</button>
</form>
